<div class="container">
    There are currently:

    <ul>
        <li>
            <a routerLink="/requests">{{statistics.requests.total}} burnination requests</a>
        </li>
        of which
        <ul>
            <li><a routerLink="/progress">{{statistics.requests.currentBurns}} {{statistics.requests.currentBurns == 1 ? 'is' : 'are'}} currently being burned</a></li>
            <li><a routerLink="/requests" [queryParams]="{status:'featured'}">{{statistics.requests.proposedBurns}} {{statistics.requests.proposedBurns == 1 ? 'is' : 'are'}} featured</a></li>
            <li><a routerLink="/requests" [queryParams]="{trackingStatusId:2}">{{statistics.requests.withTrackedTags}}
                    have a tracked tag</a></li>
            <li><a routerLink="/requests" [queryParams]="{trackingStatusId:1}">{{statistics.requests.requireTrackingApproval}}
                    require tag tracking approval</a></li>
            <li><a routerLink="/requests" [queryParams]="{status:'status-declined'}">{{statistics.requests.declined}}
                    were declined</a></li>
            <li><a routerLink="/requests" [queryParams]="{status:'status-completed'}">{{statistics.requests.completed}}
                    were completed</a></li>
            <li><a routerLink="/requests" [queryParams]="{status:'status-completed', hasQuestions: 'yes'}">{{statistics.requests.completedWithQuestionsLeft}}
                    are completed but still have tracked tags with questions</a></li>
            <li><a routerLink="/requests" [queryParams]="{status:'none', hasQuestions: 'no'}">{{statistics.requests.noStatusButCompleted}}
                    have no status but none of the tracked tags have questions</a></li>
        </ul>
    </ul>

    <ul>
        <li>
            {{statistics.tags.total}} tags related to a burnination
        </li>
        of which
        <ul>
            <li>{{statistics.tags.noQuestions}} have no questions attached to them</li>
            <li>{{statistics.tags.synonymised}} were synonomised</li>
            <li>{{statistics.tags.hasQuestionsAndAttachedToCompletedRequest}} have questions despite being found on a
                status-completed request</li>
        </ul>
    </ul>

    <hr />
    <ng-container *ngIf="isAdmin">
        <h2>Administration</h2>
        <ul>
            <li><a routerLink="/logs">Logs</a></li>
            <li><a href="/Hangfire">Hangfire</a></li>
            <li><a href="/unknown-deletion-resolution">Unknown deletion resolution ({{statistics.admin.unknownDeletions}})</a></li>
        </ul>
    </ng-container>
</div>