<?xml version="1.0" encoding="utf-8" ?>
<!-- Mostly taken from https://github.com/NLog/NLog.Web/wiki/Getting-started-with-ASP.NET-Core-2, https://github.com/nlog/NLog/wiki/Database-target and https://github.com/damienbod/AspNetCoreNlog -->

<!-- Add the following attributes if you're having issues with getting nLog working -->
<!--
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt"
      throwExceptions="true"
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="database" xsi:type="Database">
      <dbProvider>
        Npgsql.NpgsqlConnection, Npgsql, Version=4.0.3.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7
      </dbProvider>
      <connectionString>${gdc:item=connectionString}</connectionString>
      <commandText>
        INSERT INTO public."Logs"("TimeLogged", "Level", "Message", "Exception", "Logger", "Callsite")
        VALUES (now() at time zone 'utc', @Level, @Message, @Exception, @Logger, @Callsite);
      </commandText>

      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:format=ToString,StackTrace}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite}" />
    </target>
  </targets>

  <rules>
    <!-- Uncomment to ignore EntityFramework Info logs. -->
    <!-- <logger name="Microsoft.EntityFrameworkCore.*" maxLevel="Info" final="true" /> -->

    <!-- Ignore information regarding migrations, initialization, etc. -->
    <logger name="Microsoft.EntityFrameworkCore.Infrastructure" maxLevel="Info" final="true" />
    <logger name="Microsoft.EntityFrameworkCore.Infrastructure.*" maxLevel="Info" final="true" />
    <logger name="Microsoft.EntityFrameworkCore.Migrations" maxLevel="Info" final="true" />
    <logger name="Microsoft.EntityFrameworkCore.Migrations.*" maxLevel="Info" final="true" />
    <logger name="Hangfire.*" maxLevel="Info" final="true" />

    <!-- Ignore AspNetCore Info logs. -->
    <logger name="Microsoft.AspNetCore.*" maxLevel="Warn" final="true" />

    <logger name="*" minlevel="Info" writeTo="database" />
  </rules>
</nlog>