<div *ngIf="!getRevision">
  Please install the userscript <a href="https://gitlab.com/rjrudman/Rodgort/raw/master/unknown-deletion-resolver.user.js">here</a>.
  <b>Warning, this userscript gives rodgort access to access https://stackoverflow.com/posts/id/revisions VIA YOUR STACK OVERFLOW ACCOUNT.</b>
</div>

<div *ngIf="getRevision">
  <a href="javascript:void(0);" (click)="startProcessing()">Start Processing (This will make a request every 5 seconds to a posts revision page using your account)</a>
  <table *ngIf="postsToVisit" class="table">
    <thead>
      <tr>
        <th>Post Id</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let postToVisit of postsToVisit">
        <td>{{postToVisit.postId}}</td>
        <td>{{postToVisit.status}}</td>
      </tr>
    </tbody>
  </table>
</div>