.post-tag {
    display: inline-block;

    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    line-height: 1;

    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;

    font-size: 12px;

    white-space: normal;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

@media(max-width: 588px) {
    .post-tag, .tag-pending {
        font-size: 10px;
    }
}

@media(max-width: 515px) {
    .post-tag, .tag-pending {
        font-size: 9px;
    }
}

.post-tag {
    background-color: #ececec;
    border-color: #ececec;
}
.post-tag > a {
    color: #212529;
}
.post-tag > a:hover {
    text-decoration: none;
}

