<div *ngIf="userData" class="container">

  <p class="h1">{{userData.displayName}} {{userData.isModerator ? '♦' : ''}}</p>
  <p class="lead"><a href="https://stackoverflow.com/users/{{userData.userId}}">View on site</a></p>

  <hr />

  <p class="h2">Burninations</p>
  {{userData.displayName}} {{userData.isModerator ? '♦' : ''}} has contributed towards {{userData.numBurninations}} burninations

  <table *ngIf="userData.numBurninations > 0" class="table mt-3">
    <thead>
      <tr>
        <th>Date</th>
        <th>Burnination</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let burn of userData.burns">
        <td title="{{burn.startDate}}">{{burn.startDateLocal}}</td>
        <td><a routerLink="/progress" [queryParams]="{metaQuestionId: burn.metaQuestionId}">{{burn.metaQuestionTitle}}</a></td>
        <td>{{burn.numActions}} actions</td>
      </tr>
    </tbody>
  </table>

  <hr />
  <p class="h2">Rodgort triage</p>
  {{userData.displayName}} {{userData.isModerator ? '♦' : ''}} has triaged <a routerLink="/tag-tracking-status-audits" [queryParams]="{userId: userData.userId}">{{userData.triageTags}} tags, across {{userData.triageQuestions}} questions</a>

  <ng-container *ngIf="userData.roles">
    <hr />
    <p class="h2">User access</p>
    <table class="table mt-3">
      <thead>
        <tr>
          <th>Role</th>
          <th>Added by</th>
          <th>Date added</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of userData.roles">
          <td>{{role.name}}</td>
          <td><a routerLink="/user/{{role.addedById}}">{{role.addedBy}} {{role.addedByIsModerator ? '♦' : ''}}</a></td>
          <td title="{{role.dateAdded}}">{{role.dateAddedLocal}}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>