<app-pagination [pagingInfo]="pagingInfo" [loadPage]="loadPage">
</app-pagination>

<form style="padding: 10px" #filterForm="ngForm">
  <div class="form-row align-items-center mb-2">
    <div class="col">
      <input type="text" class="form-control" id="contentInput" placeholder="Search" name="search" [(ngModel)]="filter.search"
        #search="ngModel">
    </div>
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text" for="logLevelSelector">Log Level</label>
        </div>
        <select class="custom-select" id="logLevelSelector" [(ngModel)]="filter.level" [ngModelOptions]="{standalone: true}">
          <option value="">Any</option>
          <option value="Trace">Trace</option>
          <option value="Debug">Debug</option>
          <option value="Info">Info</option>
          <option value="Warn">Warn</option>
          <option value="Error">Error</option>
          <option value="Fatal">Fatal</option>
        </select>
      </div>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary" (click)="applyFilter()">Search</button>
    </div>
  </div>
</form>

<table *ngIf="logs" class="table">
  <thead>
    <tr>
      <th>TimeLogged</th>
      <th>Level</th>
      <th>Message</th>
      <th>Exception</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let log of logs">
      <td>{{log.timeLogged}}</td>
      <td>{{log.level}}</td>
      <td style="width: 50%"><code>{{log.message}}</code></td>
      <td style="width: 50%"><code>{{log.exception}}</code></td>
    </tr>
  </tbody>
</table>

<app-pagination [pagingInfo]="pagingInfo" [loadPage]="loadPage">
</app-pagination>