@media(max-width: 588px) {
    .pagination {
        font-size: 14px;
    }
}

@media(max-width: 515px) {
    .pagination {
        font-size: 10px;
    }
}

.pagination .minified-hidden {
    display: block;
}
.pagination .minified-shown {
    display: none;
}

@media(max-width: 427px) {
    .pagination .minified-hidden {
        display: none;
    }
    .pagination .minified-shown {
        display: block;
    }
}
