<form style="padding: 10px" #filterForm="ngForm">
    <div class="form-row align-items-center mb-2">
        <div class="col">
            <input type="text" class="form-control" id="contentInput" placeholder="Tag" name="tag" [(ngModel)]="filter.tag"
                #tag="ngModel">
        </div>
        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="trackingStatusSelector">Tracking Status</label>
                </div>
                <select class="custom-select" id="trackingStatusSelector" [(ngModel)]="filter.trackingStatusId"
                    [ngModelOptions]="{standalone: true}">
                    <option value="-1">Any</option>
                    <option value="2">Tracked</option>
                    <option value="3">Ignored</option>
                    <option value="1">Requires tracking approval</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="sortBySelector">Sort By</label>
                </div>
                <select class="custom-select" id="sortBySelector" [(ngModel)]="filter.sortBy" [ngModelOptions]="{standalone: true}">
                    <option value="score">Request score</option>
                    <option value="numQuestions"># of Questions</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-row align-items-center mb-2">
        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="statusSelector">Status</label>
                </div>
                <select class="custom-select" id="statusSelector" [(ngModel)]="filter.trackingStatusName" [ngModelOptions]="{standalone: true}">
                    <option value="">Any</option>
                    <option value="none">None</option>
                    <option value="status-completed">Completed</option>
                    <option value="status-planned">Planned</option>
                    <option value="featured">Featured</option>
                    <option value="status-declined">Declined</option>
                    <option value="closed">Closed</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="btn-group btn-group-toggle">
                <div class="input-group-prepend">
                    <label class="input-group-text">Has Questions</label>
                </div>
                <label class="btn btn-secondary" [class.active]="filter.hasQuestions === 'any'">
                    <input type="radio" name="hasQuestionsOptions" [(ngModel)]="filter.hasQuestions" value="any">Any
                </label>
                <label class="btn btn-secondary" [class.active]="filter.hasQuestions === 'yes'">
                    <input type="radio" name="hasQuestionsOptions" [(ngModel)]="filter.hasQuestions" value="yes">Yes
                </label>
                <label class="btn btn-secondary" [class.active]="filter.hasQuestions === 'no'">
                    <input type="radio" name="hasQuestionsOptions" [(ngModel)]="filter.hasQuestions" value="no">No
                </label>
            </div>
        </div>
    </div>
    <div class="form-row align-items-center mb-2">
        <div class="col">
            <button type="submit" class="btn btn-primary" (click)="applyFilter()">Search</button>
            <div class="pull-right">
                <input type="checkbox" id="chkShowIgnoredTags" [(ngModel)]="showIgnoredTags" [ngModelOptions]="{standalone: true}" />
                <label for="chkShowIgnoredTags">Show ignored tags</label>
            </div>
        </div>
    </div>
</form>

<div class="container loading-container">
    <img *ngIf="loading" class="spinner" src="../../assets/spinner.png">
</div>

<ng-container *ngIf="!loading">
    <div class="row pt-1" *ngFor="let question of questions">
        <div class="col-md-12">
            <h3>
                <a>{{question.title}} <span class="closed-label" *ngIf="question.closed">(closed)</span></a>
                <p *ngFor="let metaTag of question.metaStatusTags" class="post-statustag"><a href="https://meta.stackoverflow.com/questions/tagged/{{metaTag.tagName}}">{{metaTag.tagName}}</a></p>
                <p *ngFor="let metaTag of question.metaRequestTags" class="post-metatag"><a href="https://meta.stackoverflow.com/questions/tagged/{{metaTag.tagName}}">{{metaTag.tagName}}</a></p>
            </h3>
            <a href="https://meta.stackoverflow.com/questions/{{question.id}}">View on site</a>
            <div class="row">
                <div class="col-md-3">
                    Request score:
                </div>
                <div class="col-md-3">
                    {{question.score}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Question count:
                </div>
                <div class="col-md-3">
                    {{question.numQuestions}}
                </div>
            </div>
            <div class="tags">
                <ng-container *ngFor="let tag of question.mainTags | sort:'statusId'">
                    <div *ngIf="showIgnoredTags || tag.visibleIgnored || tag.trackingStatusName !== 'Ignored'" class="mt-3 p-2" [class.tag-ignored]="tag.trackingStatusName === 'Ignored'">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row pb-3">
                                    <div class="col">
                                        <p class="post-tag"><a href="https://stackoverflow.com/questions/tagged/{{tag.tagName}}">{{tag.tagName}}</a></p>
                                    </div>
                                </div>
                                <div *ngIf="tag.synonymOf" class="row">
                                    <div class="col-md-6">
                                        Synonym of
                                    </div>
                                    <div class="col-md-6">
                                        <p class="post-tag"><a href="https://stackoverflow.com/questions/tagged/{{tag.synonymOf}}">{{tag.synonymOf}}</a></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        Number of questions
                                    </div>
                                    <div class="col-md-6">
                                        {{tag.numQuestions}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        Status
                                    </div>
                                    <div class="col-md-6">
                                        <div [class.tag-tracked]="tag.trackingStatusId===2 || tag.trackingStatusId===4" [class.tag-pending]="tag.trackingStatusName==='Requires tracking approval'">
                                            {{tag.trackingStatusName}}
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="isTrogdorRoomOwner">
                                    <div class="row mt-2">
                                        <div class="col-md-6">
                                            Admin
                                        </div>
                                        <div class="col-md-6">
                                            <a *ngIf="tag.trackingStatusName !== 'Tracked'" href="javascript:void(0)" (click)="setTagTrackingStatus(question.id, tag, true)">Track
                                                Tag</a>
                                            <span *ngIf="tag.trackingStatusName !== 'Tracked' && tag.trackingStatusName !== 'Ignored'">|</span>
                                            <a *ngIf="tag.trackingStatusName !== 'Ignored'" href="javascript:void(0)" (click)="setTagTrackingStatus(question.id, tag, false)">Ignore
                                                Tag</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="tag.questionCountOverTime.length">
                                <app-question-count-graph [data]="tag.questionCountOverTime" [featuredStarted]="question.featuredStarted"
                                    [featuredEnded]="question.featuredEnded" [burnStarted]="question.burnStarted"
                                    [burnEnded]="question.burnEnded">

                                </app-question-count-graph>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <input type="text" class="form-control" placeholder="Add new tag" (keydown)="onNewTagAdded(question, $event)" />
            </div>
            <hr />
        </div>
    </div>
</ng-container>

<nav style="margin-top: 20px;">
    <ul class="pagination">
        <li class="page-item" [class.disabled]="page.Disabled" [class.active]="page.Active" *ngFor="let page of pagingInfo">
            <a class="page-link" (click)="loadPage(page.Number)" href="javascript:void(0);">{{page.Name}}</a>
        </li>
    </ul>
</nav>