.post-tag, .post-metatag, .post-statustag, .tag-approved, .tag-pending {
    display: inline;

    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 11px;
    line-height: 1;

    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;

    font-size: 12px;
}

.post-tag {
    background-color: #ececec;
    border-color: #ececec;
}
.post-tag > a {
    color: #212529;
}
.post-tag > a:hover {
    text-decoration: none;
}

.post-metatag {
    background-color: #fbcd6c;
    border-color: #fbcd6c;
}
.post-metatag > a {
    color: #353030;
}
.post-metatag > a:hover {
    text-decoration: none;
}

.post-statustag {
    background-color: #ff7575;
    border-color: #ff7575;
}
.post-statustag > a {
    color: #353030;
}
.post-statustag > a:hover {
    text-decoration: none;
}

.block-info {
    text-align: center;
    height: 38px;
    min-width: 40px;
    font-size: 17px;
    color: #848d95;
    padding: 7px 6px;
}

.tag-rejected {
    background-color: #f1c0c0;
}

.tag-approved {
    border:none;
    background-color: #a8f1a8;
}

.tag-pending {
    border:none;
    background-color: #f3bb84;
}

.spinner {
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.row {
    margin-bottom: 5px;
}

.closed-label {
    color: red;
}