.post-metatag, .post-statustag {
    display: inline-block;

    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    line-height: 1;

    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;

    font-size: 12px;

    white-space: normal;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

table {
    font-size: 12px;
}

.post-metatag {
    background-color: #fbcd6c;
    border-color: #fbcd6c;
}
.post-metatag > a {
    color: #353030;
}
.post-metatag > a:hover {
    text-decoration: none;
}

.post-statustag {
    background-color: #ff7575;
    border-color: #ff7575;
}
.post-statustag > a {
    color: #353030;
}
.post-statustag > a:hover {
    text-decoration: none;
}

.block-info {
    text-align: center;
    height: 38px;
    min-width: 40px;
    font-size: 17px;
    color: #848d95;
    padding: 7px 6px;
}

.row {
    margin-bottom: 5px;
}

.closed-label {
    color: red;
}

.tags {
    padding: 5px;
    margin-top: 5px;
}

.perma-link > img {
    width: 20px;
    height: 20px;
}
@media (min-width: 574px) {
    .audit-link {
        float: right;
    }
    .audit-link-spacer {
        display: none;
    }
}