<form class="form-inline" style="padding: 10px; padding-top: 0px;" #filterForm="ngForm">
    <input type="text" class="form-control mt-2 mt-sm-2 mr-sm-2 mb-sm-0" id="contentInput" placeholder="Tag" name="tag"
        [(ngModel)]="filter.tag" #tag="ngModel">
    <div class="input-group mt-2 mt-sm-2 mr-sm-2 mb-sm-0">
        <div class="input-group-prepend">
            <label class="input-group-text" for="trackingStatusSelector">Tracking Status</label>
        </div>
        <select class="custom-select" id="trackingStatusSelector" [(ngModel)]="filter.trackingStatusId"
            [ngModelOptions]="{standalone: true}">
            <option value="-1">Any</option>
            <option value="-10">Tracked &amp; Tracked elsewhere</option>
            <option value="2">Tracked</option>
            <option value="3">Ignored</option>
            <option value="1">Requires tracking approval</option>
            <option value="4">Tracked elsewhere</option>
        </select>
    </div>
    <div class="input-group mt-2 mt-sm-2 mr-sm-2 mb-sm-0">
        <div class="input-group-prepend">
            <label class="input-group-text" for="sortBySelector">Sort By</label>
        </div>
        <select class="custom-select" id="sortBySelector" [(ngModel)]="filter.sortBy" [ngModelOptions]="{standalone: true}">
            <option value="score">Request score</option>
            <option value="numQuestions"># of Questions</option>
        </select>
    </div>
    <div class="input-group mt-2 mt-sm-2 mr-sm-2 mb-sm-0">
        <div class="input-group-prepend">
            <label class="input-group-text" for="statusSelector">Status</label>
        </div>
        <select class="custom-select" id="statusSelector" [(ngModel)]="filter.status" [ngModelOptions]="{standalone: true}">
            <option value="">Any</option>
            <option value="none">None</option>
            <option value="status-completed">Completed</option>
            <option value="status-planned">Planned</option>
            <option value="featured">Featured</option>
            <option value="status-declined">Declined</option>
            <option value="closed">Closed</option>
        </select>
    </div>
    <div class="input-group mt-2 mt-sm-2 mr-sm-2 mb-sm-0">
        <div class="input-group-prepend">
            <label class="input-group-text" for="requestTypeSelector">Request type</label>
        </div>
        <select class="custom-select" id="requestTypeSelector" [(ngModel)]="filter.requestType"
            [ngModelOptions]="{standalone: true}">
            <option value="">Any</option>
            <option value="burninate-request">Burninate request</option>
            <option value="synonym-request">Synonym request</option>
            <option value="retag-request">Retag request</option>
            <option value="tag-disambiguation">Tag disambiguation</option>
        </select>
    </div>
    <div class="input-group mt-2 mt-sm-2 mr-sm-2 mb-sm-0">
        <div class="input-group-prepend">
            <label class="input-group-text" for="hasQuestionsSelector">Has Questions</label>
        </div>
        <select class="custom-select" id="hasQuestionsSelector" [(ngModel)]="filter.hasQuestions" [ngModelOptions]="{standalone: true}">
            <option value="any">Any</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
    </div>
    <div class="form-check mt-2 mt-sm-2 mr-sm-2 mb-sm-0">
        <label class="form-check-label">
            <input type="checkbox" class="mr-2" id="chkShowIgnoredTags" [(ngModel)]="showIgnoredTags" [ngModelOptions]="{standalone: true}">
            Show ignored tags
        </label>
    </div>

    <button type="submit" class="btn btn-primary mt-2 mt-sm-2 mr-sm-2 mb-sm-0" (click)="applyFilter()">Search</button>
</form>

<div class="container loading-container">
    <img *ngIf="loading" class="spinner" src="../../assets/spinner.png">
</div>

<ng-container *ngIf="!loading">
    <div class="row pt-1" *ngFor="let question of questions">
        <div class="col-md-12">
            <h3>
                <span>{{question.score > 0 ? '+' : ''}}{{question.score | number}}</span>
                <a href="https://meta.stackoverflow.com/questions/{{question.id}}">{{question.title}}
                    <span class="closed-label" *ngIf="question.closed">(closed)</span>
                </a>
            </h3>
            <p *ngFor="let metaTag of question.metaStatusTags" class="post-statustag"><a href="https://meta.stackoverflow.com/questions/tagged/{{metaTag.tagName}}">{{metaTag.tagName}}</a></p>
            <p *ngFor="let metaTag of question.metaRequestTags" class="post-metatag"><a href="https://meta.stackoverflow.com/questions/tagged/{{metaTag.tagName}}">{{metaTag.tagName}}</a></p>
            <div class="tags">
                <table class="table">
                    <thead>
                        <tr>
                            <td style="width: 35%;">Tag</td>
                            <td style="width: 15%;"># questions</td>
                            <td style="width: 25%;">Status</td>
                            <td style="width: 25%;" *ngIf="isTrogdorRoomOwner">Admin</td>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let tag of question.mainTags | sort:'trackingStatusId,tagName'">
                            <tr *ngIf="showIgnoredTags || tag.visibleIgnored || tag.trackingStatusId !== tagTrackingStatus.IGNORED">
                                <td *ngIf="!tag.synonymOf">
                                    <ng-container *ngIf="tag.hasQuestionCountOverTimeData">
                                        <div class="row">
                                            <div class="col">
                                                <p class="post-tag"><a href="https://stackoverflow.com/questions/tagged/{{tag.tagName}}">{{tag.tagName}}</a></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <a href="javascript:void(0);" (click)="showMore(tag)" *ngIf="tag.hasQuestionCountOverTimeData && !tag.showingMore">Details</a>
                                                <a href="javascript:void(0);" (click)="hideMore(tag)" *ngIf="tag.showingMore">Hide</a>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="!tag.hasQuestionCountOverTimeData">
                                        <p class="post-tag"><a href="https://stackoverflow.com/questions/tagged/{{tag.tagName}}">{{tag.tagName}}</a></p>
                                    </ng-container>
                                </td>
                                <td *ngIf="tag.synonymOf">
                                    <p class="post-tag"><a href="https://stackoverflow.com/questions/tagged/{{tag.tagName}}">{{tag.tagName}}</a></p>
                                    <span style="display: inline-block;">-></span>
                                    <p class="post-tag"><a href="https://stackoverflow.com/questions/tagged/{{tag.synonymOf}}">{{tag.synonymOf}}</a></p>
                                </td>
                                <td>{{tag.numQuestions | number}}</td>
                                <td>
                                    <div [class.tag-tracked]="tag.trackingStatusId === tagTrackingStatus.TRACKED"
                                        [class.tag-ignored]="tag.trackingStatusId === tagTrackingStatus.IGNORED"
                                        [class.tag-pending]="tag.trackingStatusId === tagTrackingStatus.REQUIRES_TRACKING_APPROVAL || tag.trackingStatusId === tagTrackingStatus.TRACKED_ELSEWHERE">
                                        {{tag.trackingStatusName}}
                                    </div>
                                </td>
                                <td *ngIf="isTrogdorRoomOwner">
                                    <a *ngIf="tag.trackingStatusId !== tagTrackingStatus.TRACKED" href="javascript:void(0)"
                                        (click)="setTagTrackingStatus(question.id, tag, true)">Track</a>
                                    <span *ngIf="tag.trackingStatusId !== tagTrackingStatus.TRACKED && tag.trackingStatusId !== tagTrackingStatus.IGNORED">|</span>
                                    <a *ngIf="tag.trackingStatusId !== tagTrackingStatus.IGNORED" href="javascript:void(0)"
                                        (click)="setTagTrackingStatus(question.id, tag, false)">Ignore</a>
                                </td>
                            </tr>
                            <tr *ngIf="tag.showingMore && tag.questionCountOverTime">
                                <td [attr.colspan]="isTrogdorRoomOwner ? 4 : 3">
                                    <app-question-count-graph [data]="tag.questionCountOverTime" [featuredStarted]="question.featuredStarted"
                                        [featuredEnded]="question.featuredEnded" [burnStarted]="question.burnStarted"
                                        [burnEnded]="question.burnEnded">
                                    </app-question-count-graph>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <input *ngIf="isTrogdorRoomOwner" type="text" class="form-control" placeholder="Add new tag" (keydown)="onNewTagAdded(question, $event)" />
            </div>
            <hr />
        </div>
    </div>
</ng-container>

<app-pagination [pagingInfo]="pagingInfo" (pageClicked)="loadPage($event)">
</app-pagination>