<app-pagination [pagingInfo]="pagingInfo" (pageClicked)="loadPage($event)">
</app-pagination>

<form class="form-inline" #filterForm="ngForm">
  <input type="text" class="form-control mt-2 mt-sm-2 mr-sm-2 mb-sm-0" id="contentInput" placeholder="Search"
    name="userName" [(ngModel)]="filter.userName" #search="ngModel">

  <div class="input-group mt-2 mt-sm-2 mr-sm-2 mb-sm-0">
    <div class="input-group-prepend">
      <label class="input-group-text" for="sortBySelector">Sort By</label>
    </div>
    <select class="custom-select" id="sortBySelector" [(ngModel)]="filter.sortBy" [ngModelOptions]="{standalone: true}">
      <option value="name">Name</option>
      <option value="burnActions">Burn Actions</option>
      <option value="triagedTags">Triaged Tags</option>
      <option value="triagedQuestions">Triaged Questions</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary mt-2 mt-sm-2 mr-sm-2 mb-sm-0" (click)="applyFilter()">Search</button>
</form>

<div class="container loading-container">
  <img *ngIf="loading" class="spinner" src="../../assets/spinner.png">
</div>

<ng-container *ngIf="!loading">
  <div *ngIf="users.length" class="table-responsive mt-3 mb-3">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Burn actions</th>
          <th>Triaged tags</th>
          <th>Triaged questions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td><a routerLink="/user/{{user.userId}}">{{user.displayName}} {{user.isModerator ? '♦' : ''}}</a></td>
          <td>{{user.numBurnActions}}</td>
          <td>{{user.triagedTags}}</td>
          <td>{{user.triagedQuestions}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p class="mt-3 mb-3" *ngIf="!users.length">No users found</p>
</ng-container>

<app-pagination [pagingInfo]="pagingInfo" (pageClicked)="loadPage($event)">
</app-pagination>